bin/
obj/
.vs/
.idea/
/packages/
riderModule.iml
/_ReSharper.Caches/
# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.TypeExplorer.App.iml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
TypeExplorer.csproj.user
/MathOperators.csproj.user
